@charset "utf-8";
/* CSS Document */

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:justify;
	background-color: black;
}
a {
   color: #fff;
text-decoration: none;
font-size: 16px;
}
h4.white-text {
    color: white;    font-size: 15px;
}
h4.h4{color: #333;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 200;
    display: block;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(to bottom, rgba(248,248,248,1) 1%,rgba(238,238,238,1) 100%);
	}
.td{ font-size:14px;
font-family:Verdana, Geneva, sans-serif

}
a#toTop{
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 0px; font-size:50px; color:black;}
.linkBrown {
    border-bottom: 2px dotted black;
    margin: 5px 0;
}
.linkBrown a{font-size: 12px;
font-weight: normal;
color: rgb(0, 0, 0);
}	
nav{}
.dropdown-menu{background:#008000}
.dropdown-menu>li>a{color:white;padding:10px 10px;}
.dropdown-menu>li>a:hover{color:white; background:#41C6E2; }
.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding:10px 20px;color:white;
}

#header {
    z-index:9999;    right: 0;
    left: 0;}
#welcome, #three-panel, #Vedios, #Course-Offered, #Admission, #Placement{padding:50px 0}
#vision-mission{ background:url(../images/vision-mission.jpg); background-size:100% 100%;padding:10px 0}

#Director-message{background:white; background-size:100% 100%;padding:5px 0 40px 0;}
#tab{padding:100px 0 50px 0}
#three-panel{background:#10c45c;}
#Course-Offered{background:url(../images/course-offered.jpg); background-size:100% 100%;}
#tab{background:gray;}
#Admission{background:url(../images/admission.jpg); background-size:100% 100%;}
#Placement p{color:black;}
#Admission p, #Placement p, #vision-mission p {
    display: -webkit-box;
}
#Placement{background:url(../images/Placement.jpg); background-size:100% 100%;}

span.glyphicon.glyphicon-record {
    color: darkturquoise;
    text-shadow: 2px 1px 2px #337ab7;
    font-weight: 600;
    font-size: 22px;
    float: left;
margin: 0 10px 0 0;}
span.glyphicon.glyphicon-education {
    color: #41C6E2;
    text-shadow: 2px 1px 2px #337ab7;
    font-weight: 600;
font-size: 60px;}
span.glyphicon.glyphicon-eye-open {
    color: white;
}
span.glyphicon.glyphicon-check{color: darkturquoise;
    text-shadow: 2px 1px 2px #337ab7;
    font-weight: 600;
    font-size: 22px;
    float: left;
margin: 0 10px 0 0;}

h1, h2, h3 {
  font-family: 'Amaranth', sans-serif;
}
.h2{ 
    background: #014279;
    color: white;
    padding: 10px;
    margin: 0 0 0 0;
    border-radius: 4px 4px 0 0;
	font-weight:700;
	font-size:22px}
.row{ margin-left:0; margin-right:0;}
span{color:#fff}
	p{
    font-size: 14px;
    font-family: inherit;
    font-weight: 100;
    text-align: justify;}
.p-gray span.glyphicon.glyphicon-map-marker, .p-gray span.glyphicon.glyphicon-user, .p-gray span.glyphicon.glyphicon-envelope, .p-gray span.glyphicon.glyphicon-earphone, .p-gray span.glyphicon.glyphicon-print {
   color: darkturquoise;
    text-shadow: 2px 1px 2px #337ab7;
    font-weight: 600;
    font-size: 30px;
    float: left;
    margin: 35px 10px 0 0;
    clear: both;
}

.top-bar{
    background: black;
    padding: 5px 0;
    color: #10C45C;
    font-weight: bold;
}

.white{color:white; }

.h5:hover{color:#55c8d5}

.bg-green{background:#10c45c; color:white; z-index: 9999; padding: 25px;}
.bg-yellow{background:#fdc735; color:white; z-index: 9999; padding: 25px;}
.bg-blue{background:#55c8d5; color:white; z-index: 9999; padding: 25px;}
.bg-pink{background:#e948ae; color:white; z-index: 9999; padding: 25px;}
.bg-green:hover, .bg-yellow:hover, .bg-blue:hover, .bg-pink:hover{ margin-top:-10px;}
.bg-lightorange{ background: rgba(253, 199, 53, 0.68);border-radius: 30px 0 30px 0;}
.bg-lightwhite{ background: rgba(255, 255, 255, 0.68); border-radius: 0 30px 0 30px;}

.panel{border: 1px solid #CECECE;border-radius: 4px 4px 0 0;}
.panel h4{margin:0;}
.panel p{padding:0 10px;margin:0;padding:10px;text-align:left;}
.panel p:hover{background: #eee;}
.panel a:hover{color: #000;}
.readmore{    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #CC0000;
    text-decoration: none;}
.readmore:hover{color:red;}	

.panel-body {
    padding-bottom: 0;
    background: #007bb6;
	border-radius: 10px;
}

.panel-body:hover {
    padding-bottom: 0;
    background:#3c5e99;
}

.panel-heading h2{margin-top:0;margin-bottom:0; color:white;}
.panel-body  h6{
    font-size: 9px; margin:0; padding:0; line-height:15px;
}
.panel-body  p{
    margin:0; padding-bottom:4px;
}

hr {
   margin-top: 0;
    margin-bottom: 0px;border-bottom: 1px solid #CECECE
}
footer {
    background: #333;
    color: white;
    padding: 22px 0 0 0;
    margin-top: 0px;
 }
footer a{ color:white;}
footer a:hover{text-decoration:none;}
.bottom-footer{background:rgba(0, 0, 0, 0.15); padding:10px 0 5px 0; margin-top:20px;}

.copyright{background:#000; }

.bg-info {
    background-color: #008FD5;
    padding: 10px 0 35px 0;
    color: white;
}