<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>RaRa Delivery | Admin Live Orders</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- <link href="css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
<link href="css/bootstrap-theme.min.css" rel='stylesheet' type='text/css'> -->
<!-- <link href="css/mycss.css" rel='stylesheet' type='text/css'> -->

<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<!-- jvectormap -->
<link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<header ng-controller="headerCtrl" class="main-header">

<!-- Logo -->
<a href="javascript:void(0)" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini"><b>R</b>aRa</span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg">RaRa Delivery</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
<span class="sr-only">Toggle navigation</span>
</a>
<a href="#" style="color: #ffffff;font-size: 20px; line-height: 47px;"><span class="logo-lg">HOME | LIVE UPDATES</span></a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
<span class="hidden-xs" ng-bind="user.name">/span>
</a>
<ul class="dropdown-menu">
<!-- User image -->
<li class="user-header">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

<p ng-bind="user.name">

<small></small>
</p>
</li>

<li class="user-footer">
<div class="pull-left">
<a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
</div>
<div class="pull-right" >
<button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
</div>
</li>
</ul>
</li>
<!-- Control Sidebar Toggle Button 
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>-->
</ul>
</div>

</nav>


<div id="errModals" style="position:absolute;display:none" role="dialog">
<div class="modal-dialog" style="width:100% !important;position:relative">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeErrModal()" type="button" class="close">&times;</button>
<h4 class="modal-title">Exceptions List (<span id="errCnt" data-ng-bind="errList.exceptions.numberOfElements"></span>)</h4>
</div>
<div class="modal-body">
<table class="table table-bordered">
<thead>
<tr>
<th>Date Time</th>
<th>Type</th>
<th>Message</th>
<th>Details</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr class="err_{{err.id}}" data-ng-repeat="err in errList.exceptions.content">
<td data-ng-bind="err.addedDate"></td>
<td data-ng-bind="err.exceptionType"></td>
<td data-ng-bind="err.exceptionMessage"></td>
<td><button class="btn btn-default" data-ng-click="viewErrDetails(err.exceptionTrace)">View</button></td>
<td>
<button  data-ng-click="errResolved(err.id)" class="btn btn-danger">Resolve</button>
</td>
</tr>

</tbody>
</table>
</div>

</div>


<div id="detailsView" style="position:absolute;display:none;top:60px;">

<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeDetailViewModal()" type="button" class="close">&times;</button>
</div>
<div id="detailsViewBody" class="modal-body">
</div>
</div>

</div>

</div>
</div>


</header>
<!-- Left side column. contains the logo and sidebar -->
<aside ng-controller="headerCtrl" class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
<div class="pull-left image">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
<p ng-bind="user.name"></p>

</div>
</div>

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
<!-- <li data-ng-if="user.roles[0].id == 2"><a style="backgroud-color:#333" href="javascript:void(0)" id="errCheck"><i class="fa fa-dashboard"></i><span>Errors (<span data-ng-bind="ecnt">0</span>)</span></a></li> -->
<li ng-repeat="menu in menuList">
<a href="{{menu.url}}" style="{{menu.active}}">
<i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
</a>
</li>



</ul>
</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">


</section>

<!-- Main content -->
<section class="content" ng-controller="liveOrderCtrl">
<!-- Info boxes -->
<div class="row">
<div class="col-md-12">
<div class="box">
<div class="box-header ">
</div>
<div class="box-body">
<div class="row">
<div class="col-md-4">

<label for="consumer">Business:</label>

<select data-ng-change="getLiveOrdersByBusiness(uId)"  id="consumerList" class="form-control" ng-model="uId" ng-options="item.id as item.companyName+' ('+item.id+') ' for item in companyList">
<option value="" disabled selected>---- Select business ----</option>
</select> 



<!-- <input class="form-control" type="text" ng-model="companyName" placeholder="Company Name" typeahead="company as company.companyName for company in companyList | filter:$viewValue | limitTo:8" typeahead-on-select="getCompanyData(companyName)"> -->
</div>
</div>
<div class="row">
<div class="col-md-2">
<h4 class="box-title" style="font-weight: bold;"><span class="firstcharacter" ng-bind="orderStats.total"> </span><span ng-bind="orderStats.total>1?'ORDERS':'ORDER'">ORDER</span><br>RECEIVED</h4>
</div>
<div class="col-md-10">
<h3 class="box-title" style="font-weight: bold;">LIVE ORDERS STATUS</h3>
</div>
</div>
<div class="row">
<div class="col-md-2 progressbarlabel">
<a href="#datatable" style="color:#b3b3b3" ng-click="getAllPickUpLocByUser('Placed')"><span style="color:#000;" ng-bind="orderStats.floated"></span> Floated</a>
</div>
<div class="col-md-10">
<!-- Blue -->
<div class="progress sm " style="border-radius: 5px;">
<div class="progress-bar" style="background-color:#1b3e40; width:{{orderStats.floated*100/orderStats.total}}%"></div>
</div>
</div>
<div class="col-md-2 progressbarlabel">
<a href="#datatable" style="color:#b3b3b3" ng-click="getAllPickUpLocByUser('accepted')"><span style="color:#000;" ng-bind="orderStats.accepted"></span> Accepted</a>
</div>
<div class="col-md-10">
<!-- Green -->
<div class="progress sm" style="border-radius: 5px;">
<div class="progress-bar" style="background-color:#2a6a6a; width:{{orderStats.accepted*100/orderStats.total}}%"></div>
</div>
</div>
<div class="col-md-2 progressbarlabel">
<a href="#datatable" style="color:#b3b3b3" ng-click="getAllPickUpLocByUser('Parcel Picked')"><span style="color:#000;" ng-bind="orderStats.picked"></span> Picked</a>
</div>
<div class="col-md-10">
<!-- Turquoise -->
<div class="progress sm" style="border-radius: 5px;">

<div class="progress-bar" style="background-color:#3facac; width:{{orderStats.picked*100/orderStats.total}}%"></div>
</div>
</div>
<div class="col-md-2 progressbarlabel">
<a href="#datatable" style="color:#b3b3b3" ng-click="getAllPickUpLocByUser('Delivered')"><span style="color:#000;"  ng-bind="orderStats.delivered"></span> Delivered</a>
</div>
<div class="col-md-10">
<!-- Orange -->
<div class="progress sm" style="border-radius: 5px;">
<div class="progress-bar" style="background-color:#88cfd3; width:{{orderStats.delivered*100/orderStats.total}}%"></div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<style>
.cusStack {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
border-radius: 15px;
}
</style>

<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-6">
<!-- MAP & BOX PANE -->
<div class="box">
<div class="box-header ">
<h3 class="box-title">TODAY'S DELIVERY SLOTS</h3>

<!-- <div class="box-tools pull-right">
<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
</button>
<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
</div> -->
</div>
<!-- /.box-header -->
<div class="box-body no-padding" style="height:305px; position: relative;">
<div class="row">
<div class="col-md-12 col-sm-12">
<div class="pad">
<div class="row">

<div class="col-md-3" ng-repeat="item in dataOrder">
<div class="row">
<div class="col-md-12 text-center">
<div class="progress vertical progress-sm" style="background-color: #fff; border-radius:15px;">
<div class="progress-bar" role="progressbar"  style="background-color: #fff; border:1px solid;border-radius: 15px;height:100%">
<div class="cusStack" style="height:{{item.notPicked}}%; z-index: 1; background-color: #c07879;"></div>
<div class="cusStack" style="height: {{item.picked}}%;z-index: 2; background-color: #e4c213;"></div>
<div class="cusStack" style="height: {{item.delivered}}%; z-index: 3; background-color: #1bbfbe;"></div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center" style="background-color: #f7f7f7;" ng-bind="item.statsFor"></div>
</div>
</div>
</div>


</div>
</div>

</div>
<div class="row" style="position:absolute; bottom:0;">
<div class="col-md-1">
<div style="margin-left:15px;width: 20px;height: 20px;border-radius: 15px;background-color: #c07879; margin-top: 8px;margin-bottom: 10px;"></div>
</div>
<div class="col-md-4">
<h5 style="padding-left: 15px;">Not Picked Yet</h5>
</div>
<div class="col-md-1">
<div style="width: 20px;height: 20px;border-radius: 15px;background-color: #e4c213; margin-top: 8px;margin-bottom: 10px;"></div>
</div>
<div class="col-md-2">
<h5>Picked</h5>
</div>
<div class="col-md-1">
<div style="width: 20px;height: 20px;border-radius: 15px;background-color: #1bbfbe; margin-top: 8px;margin-bottom: 10px;"></div>
</div>
<div class="col-md-2">
<h5>Delivered</h5>
</div>

</div>
<!-- /.row -->
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->


<!-- /.box -->
</div>
<!-- /.col -->

<div class="col-md-6">
<div class="box">

<!-- /.box-header -->
<div class="box-body">
<div class="row">
<div data-ng-init="getBusinessList()" class="col-md-12 col-sm-12">

<div data-ng-if="businessList.length > 0 && bookingList.length == 0">
<h3>Pickup locations:</h3>	
<ng-map id="ngmappickup" zoom="8" center="[-6.271194, 106.894547]" zoom-to-include-markers="auto" style="height:285px">
<marker ng-repeat="p in businessList track by p.locationId" id="marker_{{p.locationId}}"  icon="{
url :'images/marker{{p.user.companyName | myFormat}}.png',
origin: [0,0], 
anchor: [16,40]
}" position="{{p.pickUpLatitude}},{{p.pickUpLongitude}}" 
on-click="showPinDetail(event,p)"></marker>

<info-window id="myInfoWindow" max-width="200">
<div >
<div id="siteNotice"></div>
<!-- <h1 id="firstHeading" class="firstHeading"></h1> -->
<div id="bodyContent">
<p style="font-weight: bold">Business Name :  <span ng-bind="sPoint.user.companyName"></span></p>

<p style="font-weight: bold">Pickup Location : <span ng-bind="sPoint.pickUpLocation"></span></p>


</div>
</div>
</info-window>

</ng-map>
</div>

<div data-ng-if="bookingList.length > 0">
<h3>Order List:</h3>	
<ng-map id="ngmaporderlist" zoom="8" center="[-6.271194, 106.894547]" zoom-to-include-markers="auto" style="height:285px">
<marker ng-repeat="q in bookingList track by q.id" icon="{
url :'images/pin.png',
scaledSize:[40,40],
origin: [0,0], 
anchor: [16,40]
}" position="{{q.dropLatitude}},{{q.dropLongitude}}"  on-click="showPinDetailOrder(event,q)"></marker>


<info-window id="myOrderInfoWindow" max-width="200">
<div >
<div id="siteNotice"></div>
<!-- <h1 id="firstHeading" class="firstHeading"></h1> -->
<div id="bodyContent">
<p style="font-weight: bold">Tracking Number :  <span ng-bind="sOrder.trackingId"></span></p>
<p style="font-weight: bold">Payment Type : <span ng-bind="sOrder.paymentType"></span></p>
<p style="font-weight: bold">Rabbit Mobile Number : <span ng-bind="sOrder.rabbitId"></span></p>
<p style="font-weight: bold">Status : <span data-ng-if="sOrder.rabbitOrderStatus != null" ng-bind="sOrder.rabbitOrderStatus"></span>
<span data-ng-if="sOrder.rabbitOrderStatus == null" ng-bind="'Placed'"></span>
</p>

</div>
</div>
</info-window>

</ng-map>


</div>

</div>
</div>
</div>
<!-- /.box-body -->
</div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
<div data-ng-init="deliveryInit()" id="datatable" class="row">
<div class="col-lg-12">
<!-- TABLE: LATEST ORDERS -->
<div class="box">
<div class="box-header">
<h3 class="box-title">Ongoing Orders</h3>

<div data-ng-if="download"  class="col-md-3 pull-right">
        <a class="btn btn-default"  href="javascript:void(0)" data-ng-click="getDownloadLink()">Import</a>&emsp;
        <a class="btn btn-default" data-ng-if="downloadLink != ''" href="{{downloadLink}}">Download Now</a>
       </div>  
<div class="col-md-2 pull-right">
<!-- Date and time range -->
<div class="form-group">
<div class="input-group">
<!-- ng-change="showSearchData()" -->
<input class="form-control" placeholder="Search" type="text" ng-model="q" ng-change="getData()" >
</div>
</div>
<!-- /.form group -->
</div>   

</div>
<!-- /.box-header -->
<div class="box-body">
<div class="table-responsive">
<table class="table no-margin">
<thead>
<tr style="color:#157b78">
<th>Order ID</th>
<th>Tracking No.</th>
<th>Rabbit ID</th>
<th>Payment Type</th>
<th>Amount</th>
<th>Customer Name</th>
<th>Mobile Number</th>
<th>Delivery Location</th>
<th>Drop off Type</th>
<th>Status</th>
<th>ETA</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="booking in tempBookingList | startFrom:currentPage*pageSize | limitTo:pageSize">
<td ng-bind="booking.bookingId">
</td>
<td ng-bind="booking.trackingId">
</td>
<td ng-bind="booking.rabbitId">
</td>
<td ng-bind="booking.paymentType">
</td>
<td>
	<span data-ng-if="booking.paymentType == 'COD'" ng-bind="booking.amount"></span>
</td>

<td ng-bind="booking.reciverName"></td>
<td ng-bind="booking.reciverContactNo"></td>
<td ng-cloak> {{booking.dropLocation}}</td>
<td ng-cloak>
{{booking.deliveryType}}
<div ng-show="(booking.deliveryType=='SLOT')?true:false"></div>
{{(booking.deliveryTime=='3')?'10 AM - 02 PM':(booking.deliveryTime=='4')?'02 PM - 06 PM':(booking.deliveryTime=='5')?'06 PM - 10 PM':''}}
</div>
</td>
<!-- (booking.rabbitOrderStatus==null)?booking.orderStatus:booking.rabbitOrderStatus -->
<td ng-bind="(booking.rabbitOrderStatus==null)?booking.orderStatus:booking.rabbitOrderStatus"></td>
<td ng-bind="booking.eta"></td>
</tr>
<tr ng-show="bookingList.length==0">
<td colspan="8">
<center>No Orders Available</center>
</td>
</tr>
<tr ng-show="tempBookingList.length!=0">
<td colspan="8">
<center>    
<button class="btn btn-success btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
Previous
</button>
<span ng-bind="(currentPage+1)+'/'+numberOfPages"></span>
<button class="btn btn-success btn-sm" ng-disabled="currentPage >= tempBookingList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
Next
</button>

</center>
</td>   
</tr>

</tbody>
</table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.box-body -->
<!-- <div class="box-footer clearfix">
<a href="advanced.html" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
</div> -->
<!-- /.box-footer -->
</div>
</div>
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
<div class="pull-right hidden-xs">
</div>
<strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- Home tab content -->
<div class="tab-pane" id="control-sidebar-home-tab">
<h3 class="control-sidebar-heading">Recent Activity</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-birthday-cake bg-red"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

<p>Will be 23 on April 24th</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-user bg-yellow"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

<p>New phone +1(800)555-1234</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

<p>nora@example.com</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-file-code-o bg-green"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

<p>Execution time 5 seconds</p>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Custom Template Design
<span class="label label-danger pull-right">70%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Update Resume
<span class="label label-success pull-right">95%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-success" style="width: 95%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Laravel Integration
<span class="label label-warning pull-right">50%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Back End Framework
<span class="label label-primary pull-right">68%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

</div>
<!-- /.tab-pane -->

<!-- Settings tab content -->
<div class="tab-pane" id="control-sidebar-settings-tab">
<form method="post">
<h3 class="control-sidebar-heading">General Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Report panel usage
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Some information about this general settings option
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Allow mail redirect
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Other sets of options are available
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Expose author name in posts
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Allow the user to show his name in blog posts
</p>
</div>
<!-- /.form-group -->

<h3 class="control-sidebar-heading">Chat Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Show me as online
<input type="checkbox" class="pull-right" checked>
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Turn off notifications
<input type="checkbox" class="pull-right">
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Delete chat history
<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
</label>
</div>
<!-- /.form-group -->
</form>
</div>
<!-- /.tab-pane -->
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>

</div>

<!-- loader div -->
<div id="loader" style="visibility:hidden">
<div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
<img src="images/loader.gif" alt="" />
</div>
<!-- overlay div -->
<div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
</div>
</div>
<!-- loader div close -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap  -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>


<script src="js/angular.min.js"></script>

<script src="js/roundProgress.min.js"></script>


<script src="js/ngStorage.min.js"></script>
<script src="js/app.js"></script>
<script src="js/base64Service.js"></script>
<script src="js/controller/header.ctrl.js?t=3"></script>
<script src="js/controller/adminLive.ctrl.js?t=2"></script>
<script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
<script src="js/script-tags-for-development.js"></script>
<script>
//Month picker
$('#monthPicker').datepicker({
format: "MM-yy",
viewMode: "months",
minViewMode: "months",
})
</script>
<!-- Styles -->
<style>
#chartdiv {
width: 100%;
height: 500px;
font-size: 11px;
}

#chartdiv a {
display: none;
visibility: hidden;
}

.firstcharacter {
/*  color: #903; */
float: left;
font-family: Arial;
font-size: 40px;
line-height: 40px;
padding-top: 0px;
padding-right: 8px;
padding-left: 0px;
}

.progressbarlabel {
font-weight: bold;
color: #b3b3b3;
padding-left: 4%;
}
</style>


</body>

</html>