<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RaRa Delivery | Booking</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="plugins/iCheck/all.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.css">
  
    <link href="dist/css/jquery.sweet-modal.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/datepicker/bootstrap-datetimepicker.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="css/style.css">
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" >

    <header ng-controller="headerCtrl" class="main-header">
        
            <!-- Logo -->
            <a href="javascript:void(0)" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>R</b>aRa</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg">RaRa Delivery</span>
            </a>
        
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>
              <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <!-- Messages: style can be found in dropdown.less-->
                  
                  <!-- User Account: style can be found in dropdown.less -->
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                      <span class="hidden-xs" ng-bind="user.name">/span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        
                        <p ng-bind="user.name">
                        
                          <small></small>
                        </p>
                      </li>
                      
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right" >
                          <button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!-- Control Sidebar Toggle Button  -->
                  <!-- <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                  </li> -->
                </ul>
              </div>
        
            </nav>
          </header>
          <!-- Left side column. contains the logo and sidebar -->
          <aside ng-controller="headerCtrl" class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- Sidebar user panel -->
              <div class="user-panel">
                <div class="pull-left image">
                  <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                  <p ng-bind="user.name"></p>
                 
                </div>
              </div>
              
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu" data-widget="tree">
                <li ng-repeat="menu in menuList">
                  <a href="{{menu.url}}" style="{{menu.active}}">
                    <i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
                  </a>
                </li>
          
             
              
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-controller="bookingCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Add Booking
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">Forms</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">


      <div class="row">
        <div class="col-md-10">

          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Step 1</h3>
            </div>
            <div class="box-body">
                <div class="row">

                   
                        <div class="col-lg-12"><h3 class="box-title">User</h3></div>	
                        <div class="col-lg-6">
                          <div class="form-group">
                              <label>Select User :<span class="reqfield">*</span></label>
                               <div>
                                  <select class="form-control" ng-model="reqBooking.subUser.subUserId">
                                    <option ng-repeat="user in userList"
                                        value="{{user.subUserId}}" ng-bind="user.name">
                                    </option>
                                  </select>
                              </div>
                      <!-- /.input group -->
                              <!-- /.input group -->
                          </div>
                
                        </div>

                  <div class="col-lg-12"><h3 class="box-title">Pickup Location</h3></div>	
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label>Select Location:<span class="reqfield">*</span></label>
                        <select class="form-control" ng-model="book.pickUpLocation">
                            <option ng-repeat="pickLocation in pickUpLocationList"
                                    value="{{pickLocation}}" ng-bind="pickLocation.pickUpLocation +' #'+pickLocation.pickLevel+'-'+pickLocation.unities">
                                    
                            </option>
                        </select>
                        <!-- /.input group -->
                  	</div>
                  </div>
                  <!-- /.form group -->
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label>Date & Time Of Order Placement:<span class="reqfield">*</span></label>
                          <input type="text" class="form-control" id="datepickerpickup" ng-model="book.orderDate" placeholder="Enter Date Of Pickup" ng-blur="initSlots()" ><br>     
                          <!-- <input type="text" class="form-control" id="datepicker" ng-model="reqBooking.orderDate" placeholder="Enter Date Of Order Placement" > -->
                          <input  type="text" id="dateValue" style="display:none">
                        <!-- /.input group -->
                  	</div>
                  </div>
                  <!-- /.form group -->
                </div>
                <div class="row">
                  <div class="col-lg-6">
                  <h3 class="box-title">Receiver Details</h3>
                    <div class="form-group">
                        <label>Name:<span class="reqfield">*</span></label>
                       	<input class="form-control" placeholder="Name" type="text" ng-model="book.reciverName" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" required> 
                        <!-- /.input group -->
                  	</div>
                    <div class="form-group">
                        <label>Phone Number:<span class="reqfield">*</span></label>
                       	<input class="form-control" placeholder="Phone Number" type="text" ng-model="book.reciverContactNo">
                        <!-- /.input group -->
                  	</div>
                  </div>
                  <div class="col-lg-6">
                  <h3 class="box-title">Drop Off Location</h3>
                    <div class="form-group">
                        <label>Street Location:<span class="reqfield">*</span></label>
                       	<input class="form-control" placeholder="Enter Location" type="text" ng-model="book.dropLocation">
                        <!-- /.input group -->
                  	</div>
                    <div class="row">
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label>Level:<span class="reqfield">*</span></label>
                        <input class="form-control" placeholder="Drop Level" type="text" ng-model="book.dropLevel">
                       	 
                        <!-- /.input group -->
                  	</div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label>Unit Number:<span class="reqfield">*</span></label>
                        <input class="form-control" placeholder="Unit Number" type="text"  ng-model="book.unities">
                       	
                        <!-- /.input group -->
                  	</div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label>Postal Code:<span class="reqfield">*</span></label>
                       	<input class="form-control" placeholder="Postal Code" type="text" ng-model="book.dropPinCode">
                        <!-- /.input group -->
                  	</div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (left) -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-10">

          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Step 2</h3>
            </div>
            <div class="box-body">
                <div class="row">
                   <div class="col-lg-6">
                  <h3 class="box-title">Parcel Details</h3>
                     <div class="row">
                    <div class="col-lg-12">
                    	<label>Select weight:</label>
                    </div>
                    <div class="col-lg-3">
                    <div class="form-group">
                       	 <div class="radio">
                             <label>
								<input name="optionsRadios" id="optionsRadios1" value="Document (< 2kg)" checked="" type="radio" ng-model="book.weight">
							  Document (< 2kg)
							 </label>
                          </div>
                        <!-- /.input group -->
                  	</div>
                    </div>
                    <div class="col-lg-3">
                    <div class="form-group">
                      <div class="radio">
                              <label>
								  <input name="optionsRadios" id="optionsRadios2" value="Small Parcel (< 5kg)" type="radio" ng-model="book.weight">
								   Small Parcel (< 5kg)
							  </label>
                          </div>
                  	</div>
                    </div>
                    <div class="col-lg-3">
                    <div class="form-group">
                        <div class="radio">
                             <label>
								  <input name="optionsRadios" id="optionsRadios3" value="Big Parcel (< 10kg)" type="radio" ng-model="book.weight">
								   Big Parcel (< 10kg)
							 </label>
                          </div>
                  	</div>
                    </div>
                  <!--  <div class="col-lg-3">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                              <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                              < 2kg
                            </label>
                          </div>
                  	</div>
                    </div>-->
                    </div>
                    <div class="form-group">
                        <label>Enter exact weight:</label>
                       	<input class="form-control" placeholder="Enter exact weight(kg)" type="text" ng-model="book.exectWeight">
                        <!-- /.input group -->
                  	</div>
                  </div>
                  <div class="col-lg-6">
                  <h3 class="box-title">Parcel Type</h3>
                     <div class="row">
                    <div class="col-lg-12">
                    	<label>Select :<span class="reqfield">*</span></label>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <select class="form-control" ng-model="book.dimensions">
                                <option ng-repeat="dimensionType in dimensionTypeList"
                                        value="{{dimensionType}}" ng-bind="dimensionType.packageName+' ('+dimensionType.dimensions+')'">
              
                                </option>
                            </select>
                        </div> 
                    </div> 
                    <!-- <div class="col-lg-4">
                    <div class="form-group">
                       	 <div class="radio">
                            <label>
                              <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio" ng-model="book.dimensions">
                              10X10X10 cm<sup>3</sup> 
                            </label>
                          </div>
                        <!-- /.input group 
                  	</div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                              <input name="optionsRadios" id="optionsRadios1" value="20X20x20" checked="" type="radio" ng-model="book.dimensions">
                              20X20X20 cm<sup>3</sup>
                            </label>
                          </div>
                  	</div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                              <input name="optionsRadios" id="optionsRadios1" value="30X30x30" checked="" type="radio" ng-model="book.dimensions">
                              30X30X30 cm<sup>3</sup> 
                            </label>
                          </div>
                  	</div>
                    </div> -->
                    <!-- </div>
                    <div class="col-lg-12">
                        <label>Dimensions Options:</label></div>
                    <div class="form-group">
                        <div class="col-lg-4">
                       	<input class="form-control" placeholder="Lenght(cm)" type="text" ng-model="exectDimension.lenght">
                        </div>
                        <div class="col-lg-4">
                       	<input class="form-control" placeholder="Width(cm)" type="text" ng-model="exectDimension.width">
                        </div>
                        <div class="col-lg-4">
                       	<input class="form-control" placeholder="Height(cm)" type="text" ng-model="exectDimension.height">
                        </div>
                        <! /.input group 
                  	</div> -->
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (left) -->
      </div>
      </div>
      
      <div class="row">
        <div class="col-md-10">

          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Step 3</h3>
            </div>
            <div class="box-body">
                <div class="row">
                   <div class="col-lg-6">
                  <h3 class="box-title">Delivery Type</h3>
                   
                    <div class="row">
                    <div class="col-lg-12">
                    	<label>Type:<span class="reqfield">*</span></label>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                       	 <div class="radio">
                            <label>
                              <input name="delType" id="optionsRadios1" value="IMMEDIATE" checked="" type="radio" ng-model="book.deliveryType">
                              IMMEDIATE
                            </label>
                          </div>
                        <!-- /.input group -->
                  	</div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                      <div class="radio">
                            <label>
                              <input name="delType" id="optionsRadios1" value="SLOT" checked="" type="radio" ng-model="book.deliveryType" ng-disabled="(slotOpts.length==0)?true:false">
                              SLOT
                            </label>
                          </div>
                  	</div>
                    </div>
                    <div class="col-lg-3">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                              <input name="delType" id="optionsRadios1" value="ANYTIME" checked="" type="radio" ng-model="book.deliveryType">
                              ANYTIME
                            </label>
                          </div>
                  	</div>
                    </div>
                    </div>
					<div class="row" ng-show="(book.deliveryType=='SLOT' && slotOpts.length>0)?true:false">
						<div class="col-lg-6">
							<div class="form-group">
                        <div>
                             <label>Select Slot :</label>
							 <select  ng-model="book.deliveryTime" class="form-control select2" style="width: 100%;">
							  <option ng-selected="true">SELECT</option>
							  <option ng-repeat="slot in slotOpts"
                                            value="{{slot.sValue}}">
                                            {{slot.type}}
                              </option>
            <!--      <option value="3">10 AM - 02 PM</option>
                <option value="4">02 PM - 06 PM</option>
                <option value="5">06 PM - 10 PM</option> -->
							 </select>							 
                          </div>
                  	</div>
						</div>
          </div>
          <div class="row">
						<div class="col-lg-12">
                <h3 class="box-title">Order Notes :</h3>
							<div class="form-group">
                        <div>
                             <!-- <label>Order Notes :</label> -->
                             <input type="text" class="form-control" ng-model="book.orderNotes" >				 
                          </div>
                  	</div>
						</div>
					</div>
					
                  </div>
                 
                </div>
            </div>
            <!-- /.box-body -->
            
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (left) -->
      </div>
      <div class="row">
      	<div class="col-lg-10 text-right">
        	<button type="button"  class="btn bg-defult btn-flat margin">Cancel</button>
        	<button type="button" ng-click="saveBook(book,reqBooking)" class="btn bg-olive btn-flat margin">Save</button>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- loader div -->
<div id="loader" style="visibility:hidden">
    <div  style="position: absolute;left: 40%;top: 25%;z-index: 5;">
        <img src="images/loader.gif" alt=""/>
    </div>    
    <!-- overlay div -->
    <div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
    </div>
  </div>
  <!-- loader div close -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="plugins/input-mask/jquery.inputmask.js"></script>
<script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Page script -->

<script src="js/datepicker/bootstrap-datetimepicker.min.js"></script>

<script src="js/angular.min.js"></script>

<script src="js/roundProgress.min.js"></script>
     
<script src="js/ngStorage.min.js"></script>
<script src="js/app.js"></script>
<script src="js/base64Service.js"></script>
<script src="js/controllers.js?t=3"></script>
<script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
<script src="js/script-tags-for-development.js"></script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      startDate: new Date()
    })


    //DateTime pickup picker
    $('#datepickerpickup').datetimepicker({
				
                format: 'DD-MM-YYYY HH:mm'
                //startDate: new Date()
               
            })
            $('#datepickerpickup').on('dp.change', function(){
                //alert("hello");
                var d = $('#datepickerpickup').val();
                //alert(d);
                $('#dateValue').val(d);

            })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
</body>
</html>
