<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>RaRa Delivery | Create Zone</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="plugins/iCheck/all.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.css">

<link href="dist/css/jquery.sweet-modal.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<style>.postalcls{list-style:none;max-height:400px;overflow:scroll;}</style>

</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
<div  class="wrapper">

<header ng-controller="headerCtrl"  class="main-header">

<!-- Logo -->
<a href="javascript:void(0)" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini"><b>R</b>aRa</span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg">RaRa Delivery</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
<span class="sr-only">Toggle navigation</span>
</a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
<span class="hidden-xs" ng-bind="user.name">/span>
</a>
<ul class="dropdown-menu">
<!-- User image -->
<li class="user-header">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

<p ng-bind="user.name">

<small></small>
</p>
</li>

<li class="user-footer">
<div class="pull-left">
<a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
</div>
<div class="pull-right" >
<button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
</div>
</li>
</ul>
</li>
<!-- Control Sidebar Toggle Button 
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>-->
</ul>
</div>

</nav>
<div id="errModals" style="position:absolute;display:none" role="dialog">
<div class="modal-dialog" style="width:100% !important;position:relative">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeErrModal()" type="button" class="close">&times;</button>
<h4 class="modal-title">Exceptions List (<span id="errCnt" data-ng-bind="errList.exceptions.numberOfElements"></span>)</h4>
</div>
<div class="modal-body">
<table class="table table-bordered">
<thead>
<tr>
<th>Date Time</th>
<th>Type</th>
<th>Message</th>
<th>Details</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr class="err_{{err.id}}" data-ng-repeat="err in errList.exceptions.content">
<td data-ng-bind="err.addedDate"></td>
<td data-ng-bind="err.exceptionType"></td>
<td data-ng-bind="err.exceptionMessage"></td>
<td><button class="btn btn-default" data-ng-click="viewErrDetails(err.exceptionTrace)">View</button></td>
<td>
<button  data-ng-click="errResolved(err.id)" class="btn btn-danger">Resolve</button>
</td>
</tr>

</tbody>
</table>
</div>

</div>


<div id="detailsView" style="position:absolute;display:none;top:60px;">

<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeDetailViewModal()" type="button" class="close">&times;</button>
</div>
<div id="detailsViewBody" class="modal-body">
</div>
</div>

</div>

</div>
</div>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside ng-controller="headerCtrl"  class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
<div class="pull-left image">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
<p ng-bind="user.name"></p>

</div>
</div>

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">

<!-- <li data-ng-if="user.roles[0].id == 2"><a style="backgroud-color:#333" href="javascript:void(0)" id="errCheck"><i class="fa fa-dashboard"></i><span>Errors (<span data-ng-bind="ecnt">0</span>)</span></a></li> -->
<li ng-repeat="menu in menuList">
<a href="{{menu.url}}" style="{{menu.active}}">
<i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
</a>
</li>



</ul>
</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div ng-controller="zoneCtrl" class="content-wrapper" >
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>Add A Zone
</h1>
<ol class="breadcrumb">
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active"><a href="#">Forms</a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">


<div class="row">
<div class="col-md-10">

<div class="box box-success">
<div class="box-header with-border">
<h3 class="box-title">Add a zone</h3>
</div>
<div class="box-body">


<div id="addAZone">

<div class="col-lg-12 box-header with-border">
<div id="consumerZoneList" class="col-lg-12">
<form class="form-inline">

<label for="consumer">Business:</label>
<select data-ng-change="getZonesByBusiness(uId)" id="consumerList" class="form-control" ng-model="uId" ng-options="item.id as item.companyName+' ('+item.login+') ' for item in userListByRole">
<option value="" disabled selected>---- Select business ----</option>
</select>          

<label for="zone_name">Zone Name:</label>
<input type="text" class="form-control" ng-model="zoneName">


<button type="button" ng-click="addAZone()" class="btn bg-olive btn-flat">Add Zone</button>
</form>


</div>
<div class="col-lg-4"><span data-ng-class="{'text-success':msgType == 'success','text-danger':msgType == 'error'}" data-ng-bind="msg"></span></div>





</div>


</div>


<div class="col-md-12">

<div class="box box-success">
<div class="box-header with-border">
<h3 class="box-title">Zone List</h3>
<span data-ng-class="{'text-success':msgUpdateType == 'success','text-danger':msgUpdateType == 'error'}" data-ng-bind="msgUpdate"></span>

</div>

<div id="zoneList" class="box-body">

<table class="table">
<thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
<tr>
<th>Business</th>
<th>Zone Name</th>
<th>Action</th>

</tr>
</thead>
<tr ng-repeat="zone in zoneList">
<td data-ng-bind="zone.user.companyName"></td>
<td>
<input class="form-control" ng-blur="updateZone(zone)"  placeholder="Zone Name" type="text" ng-model="zone.zoneName" ng-init="isFieldEnbn=true">
</td>
<td>

<div class="dropdown">
  <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action List
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" ng-click="viewZone(zone.zoneName, zone.zoneId);">View this zone</a></li>
    <li><a href="#" ng-click="readZone(zone.zoneName,zone.zoneId)"><span class="glyphicon glyphicon-floppy-save"></span> Add Postal Codes</a></li>
    <li><a href="#" ng-click="deleteAZone(zone.zoneId,uId)"><span class="glyphicon glyphicon-trash"></span> Delete this zone</a></li>
  </ul>
</div>


<!-- <a href="#" ng-click="isFieldEnbn=false"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;&nbsp;
<a href="#" ng-click="deleteAZone(zone.zoneId,uId)"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
<a href="#" ng-click="readZone(zone.zoneName,zone.zoneId)"><span class="glyphicon glyphicon-floppy-save"></span></a>
<a href="#" ng-click="viewZone(zone.zoneName, zone.zoneId);">View</a> -->
</td>
</tr>
<tr ng-if="zoneList.length==0">
<td colspan="3">
<h4 align="center">No Zone Found</h4>
</td>
</tr>

</table>

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->



</div>
<!-- /.col (left) -->


<div class="row">
<div class="col-md-12">
<h3 class="box-title">Add postal codes to a Zone</h3>
</div>
<div class="col-md-12">

<form>
<div class="form-group">
<label for="zoneName">Zone Name:</label>
<input readonly type="text" class="form-control" id="zoneName" data-ng-model="selectedZoneName">
<input type="hidden" data-ng-model="selectedZoneId" />
</div>
<div class="form-group">
<label for="district">District:</label>

<select data-ng-change="setSubDistrict()" id="districtList" class="form-control" ng-model="selectedDistrict" ng-options="item for item in districtList"></select>

</div>

<div class="form-group">
<div class="col-md-2">
<label for="district">Sub District:</label>
</div>	    

<div class="col-md-2" ng-dropdown-multiselect="" search-filter="customFilter" options="example15data" selected-model="example15model" extra-settings="example15settings" events="getSubDistrictsForZipCodes"></div>
<div class="col-md-8">

<ul style="list-style:none" data-ng-if="subDistList.length > 0">
<li class="btn btn-sm btn-info" style="float:left;margin:2px;" data-ng-repeat="sd in subDistList">{{sd.id}}</li>
</ul>

</div>
</div>

<div class="form-group" style="clear:both;padding-top: 17px;">
<div class="col-md-2">
<label for="district">Postal Codes:</label>
</div>
<div class="col-md-10">
<ul class="postalcls">
<li><input data-ng-click="selectAllPostalCode()" data-ng-model="allChecked" type="checkbox" data-ng-checked="allChecked"> Check All</li>
<li data-ng-repeat="postal in zipList">
<input data-ng-checked="chk[$index]" data-ng-click="toggleCheckZipCode(postal)" type="checkbox"  /> <span data-ng-bind="postal.zipcode + ' - '+postal.village +' - '+postal.subdistrict"></span>
</li>
</ul>

</div>
</div>
<div class="col-md-6">
<button type="button" ng-click="addZipCode()" class="btn bg-olive btn-flat margin">Add Postal codes to Zone</button>
</div> 
<div class="col-md-6">
<span data-ng-class="{'text-success':msgZipType == 'success','text-danger':msgZipType == 'error'}" data-ng-bind="msgZip"></span>
</div>

</form>

</div>


</div>




<div class="row">

<ng-map zoom="10" center="-6.226996,106.819894">

<map-data data-ng-hide="geojson.length == 0" data-ng-repeat="geojson in checkedZipCodes"
load-geo-json="geojsons/{{geojson.geojson_file}}">
</map-data>

</ng-map>



</div>

<!--  Modal started here -->


<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">{{zoneTitle}}: Zone Details</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body" id="zoneData">
<table class="table">
<tr><td class="hidden-xs">S.No.</td><td>Postal Code</td><td>Village</td><td>Sub district</td><td class="hidden-xs">District</td><td></td></tr>
<tr><td data-ng-show="das" style="text-align: center; font-size: 22px;" colspan="5">Loading data...</td></tr>
<tr data-ng-repeat="z in zoneData">
<td class="hidden-xs">{{$index + 1}}</td><td>{{z.zipcodes.zipcode}}</td><td>{{z.zipcodes.village}}</td><td>{{z.zipcodes.subdistrict}}</td><td class="hidden-xs">{{z.zipcodes.district}}</td><td><a href="#" ng-click="deleteZipZoneMapping(z.zones.zoneId, z.zoneId)"><span class="glyphicon glyphicon-trash"></span></a></td>
</tr>
</table>

<div data-ng-hide="das" id="map" style="height:300px;"></div>

</div>



</div>
</div>
</div>





<!-- Modal ended hare -->

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->

</div>
<!-- /.col (left) -->
</div>

<!-- /.row -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="pull-right hidden-xs">
<b>Version</b> 2.4.0
</div>
<strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- Home tab content -->
<div class="tab-pane" id="control-sidebar-home-tab">
<h3 class="control-sidebar-heading">Recent Activity</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-birthday-cake bg-red"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

<p>Will be 23 on April 24th</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-user bg-yellow"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

<p>New phone +1(800)555-1234</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

<p>nora@example.com</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-file-code-o bg-green"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

<p>Execution time 5 seconds</p>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Custom Template Design
<span class="label label-danger pull-right">70%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Update Resume
<span class="label label-success pull-right">95%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-success" style="width: 95%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Laravel Integration
<span class="label label-warning pull-right">50%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Back End Framework
<span class="label label-primary pull-right">68%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

</div>
<!-- /.tab-pane -->
<!-- Stats tab content -->
<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
<!-- /.tab-pane -->
<!-- Settings tab content -->
<div class="tab-pane" id="control-sidebar-settings-tab">
<form method="post">
<h3 class="control-sidebar-heading">General Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Report panel usage
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Some information about this general settings option
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Allow mail redirect
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Other sets of options are available
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Expose author name in posts
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Allow the user to show his name in blog posts
</p>
</div>
<!-- /.form-group -->

<h3 class="control-sidebar-heading">Chat Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Show me as online
<input type="checkbox" class="pull-right" checked>
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Turn off notifications
<input type="checkbox" class="pull-right">
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Delete chat history
<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
</label>
</div>
<!-- /.form-group -->
</form>
</div>
<!-- /.tab-pane -->
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- loader div -->
<div id="loader" style="visibility:hidden">
<div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
<img src="images/loader.gif" alt="" />
</div>
<!-- overlay div -->
<div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
</div>
</div>
<!-- loader div close -->





<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- InputMask -->
<script src="plugins/input-mask/jquery.inputmask.js"></script>
<script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Page script -->

<script src="js/angular.min.js"></script>
<!-- <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script> -->

<script src="js/roundProgress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-dropdown-multiselect/1.11.8/angularjs-dropdown-multiselect.min.js"></script>


<script src="js/ngStorage.min.js"></script>

<script>

angular.module('ngMap', []);
var app = angular.module("ropid", ['ngStorage', 'ngMap', 'angular-svg-round-progressbar',
'ui.bootstrap','ui.carousel','geolocation','angularjs-dropdown-multiselect']);
baseUrl = "http://"+window.location.host;
//baseUrl = "http://localhost:8081";
// var baseUrl = "http://205.147.110.207:48080/rara-b2c";
//baseUrl = "http://101.53.139.53:28080/rarab2c/";
var isAgree = false;

app.filter('startFrom', function() {
return function(input, start) {
start = +start; //parse to int
return input.slice(start);
}});

var showLoader = function(show) {

if (show == true) {
document.getElementById("loader").style.visibility = "visible";
document.getElementById("loader").style.zIndex = "1000";
} else {
document.getElementById("loader").style.visibility = "hidden";
}


}




</script>
<script src="js/base64Service.js"></script>
<script src="js/controller/header.ctrl.js?t=3"></script>
<script src="js/controller/zone-controller.js?t=3"></script>
<script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
<script src="js/script-tags-for-development.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>


</body>

</html>