<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RaRa Delivery | Create Zone</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.css">

    <link href="dist/css/jquery.sweet-modal.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<style>.postalcls{list-style:none;max-height:400px;overflow:scroll;}</style>

</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
    <div  class="wrapper">

        <header ng-controller="headerCtrl"  class="main-header">

            <!-- Logo -->
            <a href="javascript:void(0)" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>R</b>aRa</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">RaRa Delivery</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs" ng-bind="user.name">/span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        
                        <p ng-bind="user.name">
                        
                          <small></small>
                        </p>
                      </li>
                      
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right" >
                          <button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!-- Control Sidebar Toggle Button 
                  <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                  </li>-->
                </ul>
              </div>
        
            </nav>
          </header>
          <!-- Left side column. contains the logo and sidebar -->
          <aside ng-controller="headerCtrl"  class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- Sidebar user panel -->
              <div class="user-panel">
                <div class="pull-left image">
                  <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                  <p ng-bind="user.name"></p>
                 
                </div>
              </div>
              
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li ng-repeat="menu in menuList">
                        <a href="{{menu.url}}" style="{{menu.active}}">
                            <i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
                        </a>
                    </li>



                </ul>
                </section>
                <!-- /.sidebar -->
                </aside>

                <!-- Content Wrapper. Contains page content -->
                <div ng-controller="zoneCtrl" class="content-wrapper" >
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>Add A Zone
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active"><a href="#">Forms</a></li>
                        </ol>
                    </section>

                    <!-- Main content -->
                    <section class="content">


                        <div class="row">
                            <div class="col-md-10">

                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Driver List</h3>
                                    </div>
                                    <div id="zoneList" class="box-body">
                                    <span data-ng-class="{'text-success':msgDriverZoneType == 'success','text-danger':msgDriverZoneType == 'error'}" data-ng-bind="msgDriverZone"></span>
                                    
                                    
								<table id="driverlist" class="table">
                                                <thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Mobile No</th>
                                                        <th>Email ID</th>
                                                        <th>Zone</th>
                                                        <th>Appointment</th>
                                                        <th>Rating</th>
                                                        <th>Type</th>
                                                        <th>Vehicle Type</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="driver in driverList">
                                                    <td>
                                                        <span data-ng-bind="driver.firstName+' '+driver.lastName"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-bind="driver.mobileNo"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-bind="driver.emailId"></span>
                                                    </td>
                                                    <td ng-controller="InsideCtrl as inside">
                                                        <span data-ng-bind="inside.zonename"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-if="driver.rabbitAppointmentDate != null" data-ng-bind="driver.rabbitAppointmentVenue+', '+driver.rabbitAppointmentDate+' '+rabbitAppointmentTime"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-bind="driver.rabbitRating"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-bind="driver.rabbitType"></span>
                                                    </td>
                                                    <td>
                                                        <span data-ng-bind="driver.vechicleType"></span>
                                                    </td>
                                                    <td>
                                                    	<select  data-ng-change="mapDriverZone(selectedZone[$index],driver.id)" id="dZList" class="form-control" ng-model="selectedZone[$index]" ng-options="item.zoneId as item.zoneName for item in zoneList">
													    	<option value="" disabled selected>---- Select Zone ----</option>
													    </select>
                                                       
                                                    </td>
                                                </tr>
                                                <tr ng-if="driverList.length==0">
                                                    <td colspan="7">
                                                        <h4 align="center">No Driver Found</h4>
                                                    </td>
                                                </tr>

                                            </table>
                            

                                        
                       <!--  Modal started here -->
    
    
  <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{zoneTitle}}: Zone Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="zoneData">
      <table class="table">
      	<tr><td>S.No.</td><td>Postal Code</td><td>Village</td><td>Sub district</td><td>District</td></tr>
      	<tr data-ng-repeat="z in zoneData">
      		<td>{{$index + 1}}</td><td>{{z.zipcodes.zipcode}}</td><td>{{z.zipcodes.village}}</td><td>{{z.zipcodes.subdistrict}}</td><td>{{z.zipcodes.district}}</td>
      	</tr>
      </table>
      
      <div id="map" style="height:300px;"></div>
        
      </div>



    </div>
  </div>
</div>
    
    
    
    
    
    <!-- Modal ended hare -->

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col (left) -->
                        </div>
                       
                        <!-- /.row -->
                        
                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 2.4.0
                    </div>
                    <strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
                </footer>

                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Home tab content -->
                        <div class="tab-pane" id="control-sidebar-home-tab">
                            <h3 class="control-sidebar-heading">Recent Activity</h3>
                            <ul class="control-sidebar-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                            <p>Will be 23 on April 24th</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-user bg-yellow"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                            <p>New phone +1(800)555-1234</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                            <p>nora@example.com</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                            <p>Execution time 5 seconds</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.control-sidebar-menu -->

                            <h3 class="control-sidebar-heading">Tasks Progress</h3>
                            <ul class="control-sidebar-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Custom Template Design
                                            <span class="label label-danger pull-right">70%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Update Resume
                                            <span class="label label-success pull-right">95%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Laravel Integration
                                            <span class="label label-warning pull-right">50%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Back End Framework
                                            <span class="label label-primary pull-right">68%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.control-sidebar-menu -->

                        </div>
                        <!-- /.tab-pane -->
                        <!-- Stats tab content -->
                        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                        <!-- /.tab-pane -->
                        <!-- Settings tab content -->
                        <div class="tab-pane" id="control-sidebar-settings-tab">
                            <form method="post">
                                <h3 class="control-sidebar-heading">General Settings</h3>

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

                                    <p>
                                        Some information about this general settings option
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

                                    <p>
                                        Other sets of options are available
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

                                    <p>
                                        Allow the user to show his name in blog posts
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <h3 class="control-sidebar-heading">Chat Settings</h3>

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
                                </div>
                                <!-- /.form-group -->
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                </aside>
                <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- loader div -->
    <div id="loader" style="visibility:hidden">
        <div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
            <img src="images/loader.gif" alt="" />
        </div>
        <!-- overlay div -->
        <div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
        </div>
    </div>
    <!-- loader div close -->
    
    
    
    

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- InputMask -->
    <script src="plugins/input-mask/jquery.inputmask.js"></script>
    <script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll -->
    <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- Page script -->

    <script src="js/angular.min.js"></script>
    <!-- <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script> -->

    <script src="js/roundProgress.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-dropdown-multiselect/1.11.8/angularjs-dropdown-multiselect.min.js"></script>


    <script src="js/ngStorage.min.js"></script>
    
    <script>
    
    angular.module('ngMap', []);
    var app = angular.module("ropid", ['ngStorage', 'ngMap', 'angular-svg-round-progressbar',
    'ui.bootstrap','ui.carousel','geolocation','angularjs-dropdown-multiselect']);
    baseUrl = "http://"+window.location.host;
    //baseUrl = "http://localhost:8081";
    // var baseUrl = "http://205.147.110.207:48080/rara-b2c";
    //baseUrl = "http://101.53.139.53:28080/rarab2c/";
    var isAgree = false;

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start; //parse to int
            return input.slice(start);
    }});

    var showLoader = function(show) {

        if (show == true) {
            document.getElementById("loader").style.visibility = "visible";
            document.getElementById("loader").style.zIndex = "1000";
        } else {
            document.getElementById("loader").style.visibility = "hidden";
        }


    }
    
    
   
    
    </script>
    <script src="js/checklist-model.js"></script>
    <script src="js/base64Service.js"></script>
    <script src="js/controller/header.ctrl.js"></script>
    <script src="js/controller/zone-controller.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script> -->
    <script src="js/script-tags-for-development.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
	
    
</body>

</html>