<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>RaRa Delivery | Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- <link href="css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
<link href="css/bootstrap-theme.min.css" rel='stylesheet' type='text/css'> -->
<!-- <link href="css/mycss.css" rel='stylesheet' type='text/css'> -->

<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<!-- jvectormap -->
<link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.css">
<style type="text/css">
	.col-xs-offset-1{
    margin-top: 1em;
}
</style>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<header ng-controller="headerCtrl" class="main-header">

<!-- Logo -->
<a href="javascript:void(0)" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini"><b>R</b>aRa</span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg">RaRa Delivery</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
<span class="sr-only">Toggle navigation</span>
</a>
<a href="#" style="color: #ffffff;font-size: 20px; line-height: 47px;"><span class="logo-lg">HOME | ROUTES</span></a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
<span class="hidden-xs" ng-bind="user.name">/span>
</a>
<ul class="dropdown-menu">
<!-- User image -->
<li class="user-header">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

<p ng-bind="user.name">

<small></small>
</p>
</li>

<li class="user-footer">
<div class="pull-left">
<a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
</div>
<div class="pull-right" >
<button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
</div>
</li>
</ul>
</li>
<!-- Control Sidebar Toggle Button 
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>-->
</ul>
</div>

</nav>
<div id="errModals" style="position:absolute;display:none" role="dialog">
<div class="modal-dialog" style="width:100% !important;position:relative">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeErrModal()" type="button" class="close">&times;</button>
<h4 class="modal-title">Exceptions List (<span id="errCnt" data-ng-bind="errList.exceptions.numberOfElements"></span>)</h4>
</div>
<div class="modal-body">
<table class="table table-bordered">
<thead>
<tr>
<th>Date Time</th>
<th>Type</th>
<th>Message</th>
<th>Details</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr class="err_{{err.id}}" data-ng-repeat="err in errList.exceptions.content">
<td data-ng-bind="err.addedDate"></td>
<td data-ng-bind="err.exceptionType"></td>
<td data-ng-bind="err.exceptionMessage"></td>
<td><button class="btn btn-default" data-ng-click="viewErrDetails(err.exceptionTrace)">View</button></td>
<td>
<button  data-ng-click="errResolved(err.id)" class="btn btn-danger">Resolve</button>
</td>
</tr>

</tbody>
</table>
</div>

</div>


<div id="detailsView" style="position:absolute;display:none;top:60px;">

<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeDetailViewModal()" type="button" class="close">&times;</button>
</div>
<div id="detailsViewBody" class="modal-body">
</div>
</div>

</div>

</div>
</div>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside ng-controller="headerCtrl" class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
<div class="pull-left image">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
<p ng-bind="user.name"></p>

</div>
</div>

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
<!-- <li data-ng-if="user.roles[0].id == 2"><a style="backgroud-color:#333" href="javascript:void(0)" id="errCheck"><i class="fa fa-dashboard"></i><span>Errors (<span data-ng-bind="ecnt">0</span>)</span></a></li> -->
<li ng-repeat="menu in menuList">
<a href="{{menu.url}}" style="{{menu.active}}">
<i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
</a>
</li>



</ul>
</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">


</section>

<!-- Main content -->
<section class="content" ng-controller="zoneCtrl">
<!-- Main row -->
<div class="row">
<!-- Left col -->

<div class="col-md-12">
<div class="box">
<div class="box-header with-border" style="cursor: move;">

<h3 class="box-title">Zones</h3>
</div>
<!-- /.box-header -->
<div class="box-body">

<style>
.map {
width: 100%;
height: 300px;
}
.leaflet-right{
display: none;
}
</style>
<div class="row">
<div class="col-md-12">

<div class="box box-success">
<div class="box-header with-border">
<h3 class="box-title">Zone List</h3>
<span data-ng-class="{'text-success':msgUpdateType == 'success','text-danger':msgUpdateType == 'error'}" data-ng-bind="generateMsg"></span>

</div>

<div id="zoneWithBookingLists" class="box-body">
<div class="row" style="padding-bottom: 10px;">	


<div class="col-sm-6 col-xs-12">
<div class="col-sm-2">	
	<label for="consumer">Business:</label>
</div>
<div class="col-sm-10">
<select data-ng-change="getBookingZoneListByBusiness(uId)"  id="consumerZoneList" class="form-control" ng-model="uId" ng-options="item.id as item.companyName+' ('+item.login+') ' for item in userListByRole">
<option value="" disabled selected>---- Select business ----</option>
</select>	
</div>
</div>

<div class="col-sm-6 col-xs-12">
<div class="col-sm-2">	
	<label for="consumer">Pickup Time:</label>
</div>
<div class="col-sm-10">
<select class="form-control" ng-model="pt" ng-options="item as item for item in pickuptime">
<option value="" disabled selected>---- Pickup time ----</option>
</select>	
</div>
</div>

<div data-ng-if="uId > 0" class="col-sm-6 col-xs-12 col-xs-offset-1">
<label for="consumer">Action:</label>
	<button class="btn btn-default" data-ng-click="generateRouteByBusiness(uId)">Generate Routes</button> &emsp; 
</div>


</div>
<table class="table">
<thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
<tr>
<th>Zone Name</th>
<th>Total New Orders</th>
<th>Total No Show 1 Orders</th>
</tr>
</thead>
<tr ng-repeat="zoneList in zoneBookingList">
<td>
<input class="form-control" ng-blur="updateZone(zoneList.zone)"  placeholder="Zone Name" type="text" ng-model="zoneList.zone.zoneName" ng-init="isFieldEnbn=true">
</td>
<td><span data-ng-bind="zoneList.totalBookings"></span></td>
<td><span data-ng-bind="zoneList.totalNoShowBookings"></span></td>
</tr>
<tr ng-if="zoneBookingList.length==0">
<td colspan="3">
<h4 align="center">No Zone Found</h4>
</td>
</tr>

</table>

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->



</div>
</div>
</div>
<!-- /.box-body -->
</div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->


<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">{{zoneTitle}}: Zone Details</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body" id="zoneData">
<table class="table">
<tr><td>S.No.</td><td>Postal Code</td><td>Village</td><td>Sub district</td><td>District</td></tr>
<tr data-ng-repeat="z in zoneData">
<td>{{$index + 1}}</td><td>{{z.zipcodes.zipcode}}</td><td>{{z.zipcodes.village}}</td><td>{{z.zipcodes.subdistrict}}</td><td>{{z.zipcodes.district}}</td>
</tr>
</table>

<div id="maps" style="height:300px;"></div>

</div>



</div>
</div>
</div>


</section>
<section class="content" ng-controller="genRouteCtrl">
<!-- Info boxes -->
<div class="row">
<div class="col-md-12">
<div class="box">
<div class="box-header ">
</div>
<div class="box-body">
<div class="row">
<div class="col-md-4">
<input class="form-control" type="text" ng-model="companyName" placeholder="Company Name" typeahead="company as company.companyName for company in companyList | filter:$viewValue | limitTo:8" typeahead-on-select="getRouteData()">
</div>
<div class="col-md-3">
<input type="text" class="form-control" id="datepicker" ng-model="currDate" autocomplete="off" placeholder="Date" ng-change="getRouteData()">
</div>
</div>
<div class="row">
<div class="col-md-3">
<h4 class="box-title" style="font-weight: bold;">Orders for the day : </h4>
</div>
<div class="col-md-9" ><h4 ng-bind="compData.totalOrder"></h4></div>
</div>
<div class="row">
<div class="col-md-3">
<h4 class="box-title" style="font-weight: bold;">Consignments created: </h4>
</div>
<div class="col-md-9"><h4 ng-bind="compData.totalConsignment"></h4></div>
</div>
</div>
</div>
</div>
</div>

<!-- Main row -->
<div class="row">
<!-- Left col -->

<div class="col-md-12">
<div class="box">
<div class="box-header with-border" style="cursor: move;">

<h3 class="box-title">Consignments</h3>
</div>
<!-- /.box-header -->
<div class="box-body">

<style>
.map {
width: 100%;
height: 300px;
}
.leaflet-right{
display: none;
}
</style>
<div class="row">
<div class="col-md-12">

<!-- Custom Tabs -->
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
<li class="{{tab==selTab?'active':''}}" ng-repeat="tab in tabs">
<a href="#tab_1" ng-click="changeTab(tab,selTab.pickUpLat,selTab.pickUpLng,selTab.pickUpLocation)" data-toggle="tab" ng-bind="tab.title+ ' - '+tab.zone.zoneName"></a>

</li>
</ul>
<div class="tab-content" ng-show="tabs.length>0">
<div class="tab-pane active" id="tab_1"  >
<div class="row">
<div class="col-md-3">
<h4 class="box-title"  ng-bind="'Orders under ' +selTab.title+ ' : '"> </h4>
</div>
<div class="col-md-9" ><h4 ng-bind="selTab.totalCOrder"></h4></div>
</div>


<div class="row">
<div class="col-md-3">
<h4 class="box-title">Rabbit ID</h4>
</div>
<div class="col-md-9" ><h4 data-ng-bind="selTab.rabbitId"></h4>

</div>
</div>

<div class="row">
<div class="col-md-3">
<h4 class="box-title">Consignment ID</h4>
</div>
<div class="col-md-9" ><h4 ng-bind="selTab.consignmentId"></h4></div>
</div>


<div class="row">
<div class="col-md-3">
<h4 class="box-title"  ng-bind="'Distance covered :'"> </h4>
</div>
<div class="col-md-9" ><h4 ng-bind="selTab.totalDistance"></h4></div>
</div>
<!-- ng-bind-html="selTab.route" -->
<div>
	<h4 class="box-title"  ng-bind="'Route From WH :'"> </h4>
	<ul>
		<li style="list-style: none" data-ng-repeat="book in tempBookingList">
			<span class="glyphicon glyphicon-download"></span>&emsp;{{book.dropLocation}}
		</li>
	</ul>
</div>
<div id="das" style="width: 100% !important;height: 300px !important;">
</div>
</div> 

</div>
<!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->  
</div>
</div>
</div>
<!-- /.box-body -->
</div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
<div id="datatable" class="row">
<div class="col-lg-12">
<!-- TABLE: LATEST ORDERS -->
<div class="box">
<div class="box-header">
<h3 class="box-title" ng-bind="selTab.title+' Orders'"></h3>
<div class="col-md-2 pull-right">
<!-- Date and time range -->
<div class="form-group">
<div class="input-group">
<!-- ng-change="showSearchData()" -->
<input class="form-control" placeholder="Search" type="text" ng-model="q" ng-change="getData()" >
</div>
</div>
<!-- /.form group -->
</div>   

</div>
<!-- /.box-header -->
<div class="box-body">
<div class="table-responsive">
<table class="table no-margin">
<thead>
<tr style="color:#157b78">
<th>Order ID</th>
<th>Rabbit ID</th>
<th>Customer Name</th>
<th>Mobile Number</th>
<th>Delivery Location</th>
<th>Drop off Type</th>
<th>Status</th>
<th>ETA</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="booking in tempBookingList | startFrom:currentPage*pageSize | limitTo:pageSize">
<td ng-bind="booking.bookingId">
</td>
<td ng-bind="booking.rabbitId">
</td>
<td ng-bind="booking.reciverName"></td>
<td ng-bind="booking.reciverContactNo"></td>
<td ng-cloak> {{booking.dropLocation}}</td>
<td ng-cloak>
{{booking.deliveryType}}
<div ng-show="(booking.deliveryType=='SLOT')?true:false"></div>
{{(booking.deliveryTime=='3')?'10 AM - 02 PM':(booking.deliveryTime=='4')?'02 PM - 06 PM':(booking.deliveryTime=='5')?'06 PM - 10 PM':''}}
</div>
</td>
<!-- (booking.rabbitOrderStatus==null)?booking.orderStatus:booking.rabbitOrderStatus -->
<td ng-bind="(booking.rabbitOrderStatus==null)?booking.orderStatus:booking.rabbitOrderStatus"></td>
<td ng-bind="booking.eta"></td>
</tr>
<tr ng-show="bookingList.length==0">
<td colspan="8">
<center>No Orders Available</center>
</td>
</tr>
<tr ng-show="tempBookingList.length!=0">
<td colspan="8">
<center>    
<button class="btn btn-success btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
Previous
</button>
<span ng-bind="(currentPage+1)+'/'+numberOfPages"></span>
<button class="btn btn-success btn-sm" ng-disabled="currentPage >= tempBookingList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
Next
</button>

</center>
</td>   
</tr>

</tbody>
</table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.box-body -->
<!-- <div class="box-footer clearfix">
<a href="advanced.html" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
</div> -->
<!-- /.box-footer -->
</div>
</div>
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
<div class="pull-right hidden-xs">
</div>
<strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- Home tab content -->
<div class="tab-pane" id="control-sidebar-home-tab">
<h3 class="control-sidebar-heading">Recent Activity</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-birthday-cake bg-red"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

<p>Will be 23 on April 24th</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-user bg-yellow"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

<p>New phone +1(800)555-1234</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

<p>nora@example.com</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-file-code-o bg-green"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

<p>Execution time 5 seconds</p>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Custom Template Design
<span class="label label-danger pull-right">70%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Update Resume
<span class="label label-success pull-right">95%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-success" style="width: 95%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Laravel Integration
<span class="label label-warning pull-right">50%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Back End Framework
<span class="label label-primary pull-right">68%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

</div>
<!-- /.tab-pane -->

<!-- Settings tab content -->
<div class="tab-pane" id="control-sidebar-settings-tab">
<form method="post">
<h3 class="control-sidebar-heading">General Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Report panel usage
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Some information about this general settings option
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Allow mail redirect
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Other sets of options are available
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Expose author name in posts
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Allow the user to show his name in blog posts
</p>
</div>
<!-- /.form-group -->

<h3 class="control-sidebar-heading">Chat Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Show me as online
<input type="checkbox" class="pull-right" checked>
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Turn off notifications
<input type="checkbox" class="pull-right">
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Delete chat history
<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
</label>
</div>
<!-- /.form-group -->
</form>
</div>
<!-- /.tab-pane -->
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>

</div>

<!-- loader div -->
<div id="loader" style="visibility:hidden">
<div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
<img src="images/loader.gif" alt="" />
</div>
<!-- overlay div -->
<div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
</div>
</div>
<!-- loader div close -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

<script src="js/angular.min.js"></script>

<script src="js/roundProgress.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script> -->

<script src="js/ngStorage.min.js"></script>
<script type="text/javascript">
	
angular.module('ngMap', []);
var app = angular.module("ropid", ['ngStorage', 'ngMap', 'angular-svg-round-progressbar',
'ui.bootstrap','ui.carousel','geolocation']);
baseUrl = "http://"+window.location.host;
//baseUrl = "http://localhost:8081";
// var baseUrl = "http://205.147.110.207:48080/rara-b2c";
//baseUrl = "http://101.53.139.53:28080/rarab2c/";
var isAgree = false;

app.filter('startFrom', function() {
    return function(input, start) {
        start = +start; //parse to int
        return input.slice(start);
}});

var showLoader = function(show) {

    if (show == true) {
        document.getElementById("loader").style.visibility = "visible";
        document.getElementById("loader").style.zIndex = "1000";
    } else {
        document.getElementById("loader").style.visibility = "hidden";
    }


}

</script>
<script src="js/base64Service.js"></script>
<script src="js/controller/header.ctrl.js?t=3"></script>
<script src="js/controller/zone-controller.js?t=3"></script>
<script src="js/controller/genratedRoute.ctrl.js?t=4"></script>
<script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
<!-- <script src="js/script-tags-for-development.js"></script> -->

<script src="js/services/service-compressed.js"></script>
<script src="js/filters/filter-compressed.js"></script>
<script src="js/directives/map-compressed.js"></script>
<script src="js/slider/ui-carousel.min.js"></script>
<link rel="stylesheet" href="js/slider/ui-carousel.min.css">
<script src="https://rawgithub.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="js/osrm/leaflet-routing-machine.css">
<script src="js/osrm/leaflet-compressed.js"></script>

<script>document.addEventListener("DOMContentLoaded", function(event) {
  window.parent.postMessage(
  	{
  		height:document.body.getBoundingClientRect().height},"*");
  });
  </script>


<script>
//Month picker
$('#monthPicker').datepicker({
format: "MM-yy",
viewMode: "months",
minViewMode: "months",
});
// yyyy-mm-dd
$('#datepicker').datepicker({
format: 'dd-mm-yyyy',
autoclose: true
})



</script>
<!-- Styles -->
<style>
#chartdiv {
width: 100%;
height: 500px;
font-size: 11px;
}

#chartdiv a {
display: none;
visibility: hidden;
}

.firstcharacter {
/*  color: #903; */
float: left;
font-family: Arial;
font-size: 40px;
line-height: 40px;
padding-top: 0px;
padding-right: 8px;
padding-left: 0px;
}

.progressbarlabel {
font-weight: bold;
color: #b3b3b3;
padding-left: 4%;
}
</style>

 <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCe0uzTaVnuLgcI4-DTRdmPjbymzt_DupQ"></script>
  <!-- <script type="text/javascript" src="https://rawgit.com/hpneo/gmaps/master/gmaps.js"></script> -->
 <script>
  function getRouteOnMap(locations,pickUpLat,pickUpLng,pickUpLocation) {
    var service = new google.maps.DirectionsService;
    var map = new google.maps.Map(document.getElementById('das'));
    window.gMap = map;
     var stations = [];
     
     var pickObj = {};	
	 pickObj.lat = parseFloat(pickUpLat);
	 pickObj.lng = parseFloat(pickUpLng);
	 pickObj.name = pickUpLocation;
	 stations.push(pickObj);
    // list of points


      for(var index = 0; index < locations.length; index++) {
  		 
  		 var dropObj = {};	
  		 dropObj.lat = parseFloat(locations[index].dropLatitude);
		 dropObj.lng = parseFloat(locations[index].dropLongitude);
		 dropObj.name = "Tracking ID: "+locations[index].trackingId+" "+locations[index].dropLocation;
		 dropObj.trackingId =  locations[index].trackingId;
		 stations.push(dropObj);
	  }



    

    // Zoom and center map automatically by stations (each station will be in visible map area)
    var lngs = stations.map(function(station) { return station.lng; });
    var lats = stations.map(function(station) { return station.lat; });
    map.fitBounds({
        west: Math.min.apply(null, lngs),
        east: Math.max.apply(null, lngs),
        north: Math.min.apply(null, lats),
        south: Math.max.apply(null, lats),
    });

    // Show stations on the map as markers
    for (var i = 0; i < stations.length; i++) {
        new google.maps.Marker({
            position: stations[i],
            map: map,
            title: stations[i].name
        });
    }

    // Divide route to several parts because max stations limit is 25 (23 waypoints + 1 origin + 1 destination)
    for (var i = 0, parts = [], max = 8 - 1; i < stations.length; i = i + max)
        parts.push(stations.slice(i, i + max + 1));

    // Service callback to process service results
    var service_callback = function(response, status) {
        if (status != 'OK') {
            console.log('Directions request failed due to ' + status);
            return;
        }
        var renderer = new google.maps.DirectionsRenderer;
        if (!window.gRenderers)
        		window.gRenderers = [];
        window.gRenderers.push(renderer);
        renderer.setMap(map);
        renderer.setOptions({ suppressMarkers: true, preserveViewport: true });
        renderer.setDirections(response);
    };

    // Send requests to service to get route (for stations count <= 25 only one request will be sent)
    for (var i = 0; i < parts.length; i++) {
        // Waypoints does not include first station (origin) and last station (destination)
        var waypoints = [];
        for (var j = 1; j < parts[i].length - 1; j++)
            waypoints.push({location: parts[i][j], stopover: false});
        // Service options
        var service_options = {
            origin: parts[i][0],
            destination: parts[i][parts[i].length - 1],
            waypoints: waypoints,
            travelMode: 'WALKING'
        };
        // Send request
        service.route(service_options, service_callback);
    }
  }
</script> 
<script type="text/javascript">
// var maps;

// function getRouteOnMap(locations,pickUpLat,pickUpLng,pickUpLocation){

//  var pickObj = {};	
//  pickObj.dropLatitude = pickUpLat;
//  pickObj.dropLongitude = pickUpLng;
//  pickObj.dropLocation = pickUpLocation;
//  pickObj.trackingId = "------";

//  locations.unshift(pickObj);
  
//   maps = new GMaps({
//     el: '#das',
//     lat: pickUpLat,
//     lng: pickUpLng,
//     zoom: 12,
//     zoomControl : true,
//     zoomControlOpt: {
//         style : 'SMALL',
//         position: 'TOP_LEFT'
//     },
//     panControl : false
//   });

//   console.log(pickUpLat);

//   for(var index = 0; index < locations.length; index++) {
  	
//   	console.log(locations[index].dropLatitude);
//     addMarker(locations[index],index,locations.length);

//     if (index < locations.length - 1) {
//       drawRoute(locations[index], locations[index + 1]);
//     }
//   }
// }

// function addMarker(location,index,total) {
//   var icon = "pin.png";
//   if(index == 0){
//     icon = "depo.png";
//   }
//   if(index == total - 1){
//     icon = "drop.png";
//   }

  

//   maps.addMarker({
//     lat: parseFloat(location.dropLatitude),
//     lng: parseFloat(location.dropLongitude),
//     icon: "images/"+icon,
//     title: location.trackingId,
//     infoWindow: {
//     content:location.dropLocation
//     }
//   })
// }

// function drawRoute(origin, destination) {

//   maps.drawRoute({
//     origin: origin.dropLatitude+","+origin.dropLongitude,
//     destination: destination.dropLatitude+","+destination.dropLongitude,
//     travelMode: 'driving',
//     strokeColor: '#131540',
//     strokeOpacity: 1,
//     strokeWeight: 6
//   });
// }
</script>

</body>

</html>