<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>RaRa Delivery | User</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="plugins/iCheck/all.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.css">

<link href="dist/css/jquery.sweet-modal.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini" ng-cloak>
<div class="wrapper">

<header ng-controller="headerCtrl" class="main-header">

<!-- Logo -->
<a href="javascript:void(0)" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini"><b>R</b>aRa</span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg">RaRa Delivery</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
<span class="sr-only">Toggle navigation</span>
</a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
<span class="hidden-xs" ng-bind="user.name">/span>
</a>
<ul class="dropdown-menu">
<!-- User image -->
<li class="user-header">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

<p ng-bind="user.name">

<small></small>
</p>
</li>

<li class="user-footer">
<div class="pull-left">
<a href="#" ng-click="getProfile()" class="btn btn-default btn-flat">Profile</a>
</div>
<div class="pull-right" >
<button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
</div>
</li>
</ul>
</li>
<!-- Control Sidebar Toggle Button 
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>-->
</ul>
</div>

</nav>
<div id="errModals" style="position:absolute;display:none" role="dialog">
<div class="modal-dialog" style="width:100% !important;position:relative">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeErrModal()" type="button" class="close">&times;</button>
<h4 class="modal-title">Exceptions List (<span id="errCnt" data-ng-bind="errList.exceptions.numberOfElements"></span>)</h4>
</div>
<div class="modal-body">
<table class="table table-bordered">
<thead>
<tr>
<th>Date Time</th>
<th>Type</th>
<th>Message</th>
<th>Details</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr class="err_{{err.id}}" data-ng-repeat="err in errList.exceptions.content">
<td data-ng-bind="err.addedDate"></td>
<td data-ng-bind="err.exceptionType"></td>
<td data-ng-bind="err.exceptionMessage"></td>
<td><button class="btn btn-default" data-ng-click="viewErrDetails(err.exceptionTrace)">View</button></td>
<td>
<button  data-ng-click="errResolved(err.id)" class="btn btn-danger">Resolve</button>
</td>
</tr>

</tbody>
</table>
</div>

</div>


<div id="detailsView" style="position:absolute;display:none;top:60px;">

<div class="modal-content">
<div class="modal-header">
<button data-ng-click="closeDetailViewModal()" type="button" class="close">&times;</button>
</div>
<div id="detailsViewBody" class="modal-body">
</div>
</div>

</div>

</div>
</div>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside ng-controller="headerCtrl" class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
<div class="pull-left image">
<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
<p ng-bind="user.name"></p>

</div>
</div>

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
<li data-ng-if="user.roles[0].id == 2"><a style="backgroud-color:#333" href="javascript:void(0)" id="errCheck"><i class="fa fa-dashboard"></i><span>Errors (<span data-ng-bind="ecnt">0</span>)</span></a></li>
<li ng-repeat="menu in menuList">
<a href="{{menu.url}}" style="{{menu.active}}">
<i class="{{menu.icon}}"></i> <span ng-bind="menu.name"></span>
</a>
</li>



</ul>
</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div id="orderCtrlId" class="content-wrapper" ng-controller="zoneCtrl">
<!-- Content Header (Page header) -->


<!-- Main content -->
<section data-ng-init="deliveryInit()" id="orderlist" class="content">

<div class="row">
<div class="col-md-12">

<div class="box box-success">

<div class="box-header with-border">
    <div class="col-sm-12">
        <div class="col-sm-1">
            <h3 class="box-title">Orders ({{totalElements}})</h3>
        </div>
        <div class="col-sm-5">
            <form class="form-inline" >       
                <div class="form-group" data-ng-show="isAdmin">
                <label class="control-label" for="number">Business:</label>

                <select style="width: 50% !important" data-ng-change="selectByBusiness()" class="form-control" ng-model="userlist" ng-options="user.id as user.companyName+'-'+user.name for user in userList">
                <option value="" disabled selected>---- Select business ----</option>
                </select>

                </div>
                
                <!-- /.form group -->
                </form>
        </div>
        <div class="col-sm-6">
            <div class="form-group">

                <label class="col-sm-4 control-label" for="number">Search By:</label>
                <input class="col-sm-8" placeholder="Search By Order Id" type="text" ng-model="searchBooking" data-ng-init="searchBooking='s'" data-ng-keyup="getOrderList(0,0)" >


                </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group">
<div class="input-group">
<button  class="btn btn-default pull-right" id="daterange-btn" >
<span>
<i class="fa fa-calendar"></i> Select Date Range
</span>
<i class="fa fa-caret-down"></i>
</button>

</div>
</div>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-default pull-right" data-ng-if="download" href="javascript:void(0)" data-ng-click="getDownloadLink()">Import</a>&emsp;
        <a class="btn btn-default pull-right" data-ng-if="downloadLink != ''" href="{{downloadLink}}">Download Now</a>
        </div>
    </div>
</div>

<div class="box-body">

<table class="table">
<thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
<tr>
<th>Id</th>
<th>Tracking No.</th>
<th><span>Business</span></th>
<th>Payment Type</th>
<th>Amount</th>
<th>Business Warehouse</th>
<th>Customer</th>
<th>Drop off address</th>
<th>Current Order status</th>
<th>Order Status Journey</th>

<th>Action</th>

</tr>
</thead>
<tbody>
<tr ng-repeat="order in orderList">
<td data-ng-bind="order.id"></td>
<td data-ng-bind="order.trackingId"></td>
<td data-ng-bind="order.customer.companyName"></td>

<td ng-bind="order.paymentType">
</td>
<td>
<span data-ng-if="order.paymentType == 'COD'" ng-bind="order.amount"></span>
</td>
<td data-ng-bind="order.businessWareHouse.pickUpLocation"></td>
<td data-ng-bind="order.reciverName+', '+order.reciverContactNo"></td>
<td><span data-ng-bind="order.dropLocation"></span>
<span data-ng-if="order.dropKecematan != null" data-ng-bind="order.dropKecematan"></span><span data-ng-if="order.dropKelurahan != null">, {{order.dropKelurahan}}</span>    
<span data-ng-if="order.dropKota != null">, {{order.dropKota}}</span><span data-ng-if="order.dropProvinsi != null">, {{order.dropProvinsi}}</span>  <span>, {{order.dropPinCode}}</span>      
</td>
<td data-ng-if="order.rabbitOrderStatus == null" data-ng-bind="order.orderStatus"></td>

<td data-ng-if="order.rabbitOrderStatus != null" data-ng-bind="order.rabbitOrderStatus"></td>

<td>

<button type="button"  ng-click="getOrderResponses(order.bookingId)" 
data-toggle="modal"
data-target="#myModal" class="btn bg-olive btn-flat margin"><i class="fa fa-eye" aria-hidden="true"></i>View</button>

</td>

<td>

</td>

</tr>
<tr ng-if="orderList.length==0">
<td colspan="3">
<h4 align="center">No Order Found</h4>
</td>
</tr>
</tbody>
<tfoot>
<tr><td colspan="8">


<ul class="pagination">

<li data-ng-class="{active: activePage == $index}" ng-repeat="n in [] | range:totalPages" class="page-item"><a data-ng-click="getOrderList($index)" class="page-link" href="#">{{$index + 1}}</a></li>

</ul>

</td></tr>
</tfoot>

</table>

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->

</div>
<!-- /.col (left) -->
</div>



<div class="modal fade" id="myModal" role="dialog" >
<div class="modal-dialog modal-lg" style="width:95%;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Order Status</h4>
</div>
<div class="modal-body" style="overflow-x:scroll;">
<table class="table table-bordered">
<thead>
<tr>
<th>Time</th>
<th>Package Id</th>
<th>Tracking No.</th>
<th>Status</th>
<th>Comment</th>
<th>No Show</th>
<th>Pics</th>
</tr>
</thead>
<tbody>
<tr data-ng-if="orderResponseList.length > 0" data-ng-repeat="orderResponse in orderResponseList">
<td data-ng-bind="orderResponse.timestamp"></td>
<td data-ng-bind="orderResponse.packageId"></td>
<td data-ng-bind="orderResponse.trackingNo"></td>
<td data-ng-bind="orderResponse.status"></td>
<td data-ng-bind="orderResponse.comments"></td>
<td data-ng-bind="orderResponse.noShow"></td>
<td>
<button type="button" ng-click="getOrderResponsesImages(orderResponse.packageId,orderResponse.status)" 
data-toggle="modal"                            

data-target="#myImageModal" class="btn bg-olive btn-flat margin"><i class="fa fa-eye" aria-hidden="true"></i>View</button>
</td>
</tr>
<tr data-ng-if="orderResponseList.length == 0">
<td col-span="6">No response found</td>
</tr>

</tbody>
</table> 





</div>
<div class="modal-footer">

</div>
</div>
</div>
</div>
<!-- Modal Close -->


<div class="modal fade" id="myImageModal" role="dialog" >
<div class="modal-dialog modal-lg" style="width:95%;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Order Status Images</h4>
</div>
<div class="modal-body" style="overflow-x:scroll;">
<div style="border: 1px solid #ccc"  data-ng-repeat="orderResponseImage in orderResponseImageList" class="col-sm-3">
<img style="padding: 3px; width: 100%" data-ng-if="orderResponseImage.image != null" src="upload/{{orderResponseImage.image}}">

<p style="text-align: center;" data-ng-bind="orderResponseImage.note"></p>

</div>
</div>
<div class="modal-footer">

</div>
</div>
</div>
</div>
<!-- Modal Close -->



<!-- /.content -->
</div>

</section>
<!-- Modal -->

<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="pull-right hidden-xs">
<b>Version</b> 2.4.0
</div>
<strong>Copyright &copy; 2017-2018 <a href="#">RaRa Delivery</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- Home tab content -->
<div class="tab-pane" id="control-sidebar-home-tab">
<h3 class="control-sidebar-heading">Recent Activity</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-birthday-cake bg-red"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

<p>Will be 23 on April 24th</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-user bg-yellow"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

<p>New phone +1(800)555-1234</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

<p>nora@example.com</p>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<i class="menu-icon fa fa-file-code-o bg-green"></i>

<div class="menu-info">
<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

<p>Execution time 5 seconds</p>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu">
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Custom Template Design
<span class="label label-danger pull-right">70%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Update Resume
<span class="label label-success pull-right">95%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-success" style="width: 95%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Laravel Integration
<span class="label label-warning pull-right">50%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
</div>
</a>
</li>
<li>
<a href="javascript:void(0)">
<h4 class="control-sidebar-subheading">
Back End Framework
<span class="label label-primary pull-right">68%</span>
</h4>

<div class="progress progress-xxs">
<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
</div>
</a>
</li>
</ul>
<!-- /.control-sidebar-menu -->

</div>
<!-- /.tab-pane -->
<!-- Stats tab content -->
<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
<!-- /.tab-pane -->
<!-- Settings tab content -->
<div class="tab-pane" id="control-sidebar-settings-tab">
<form method="post">
<h3 class="control-sidebar-heading">General Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Report panel usage
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Some information about this general settings option
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Allow mail redirect
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Other sets of options are available
</p>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Expose author name in posts
<input type="checkbox" class="pull-right" checked>
</label>

<p>
Allow the user to show his name in blog posts
</p>
</div>
<!-- /.form-group -->

<h3 class="control-sidebar-heading">Chat Settings</h3>

<div class="form-group">
<label class="control-sidebar-subheading">
Show me as online
<input type="checkbox" class="pull-right" checked>
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Turn off notifications
<input type="checkbox" class="pull-right">
</label>
</div>
<!-- /.form-group -->

<div class="form-group">
<label class="control-sidebar-subheading">
Delete chat history
<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
</label>
</div>
<!-- /.form-group -->
</form>
</div>
<!-- /.tab-pane -->
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- loader div -->
<div id="loader" style="visibility:hidden">
<div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
<img src="images/loader.gif" alt="" />
</div>
<!-- overlay div -->
<div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
</div>
</div>
<!-- loader div close -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="plugins/input-mask/jquery.inputmask.js"></script>
<script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Page script -->

<script src="js/angular.min.js"></script>

<script src="js/roundProgress.min.js"></script>


<script src="js/ngStorage.min.js"></script>
<script src="js/app.js"></script>
<script src="js/base64Service.js"></script>
<script src="js/controller/header.ctrl.js?t=3"></script>
<script src="js/controller/zone-controller.js?t=4"></script>
<script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
<script src="js/script-tags-for-development.js"></script>

<script>
$(function() {

$(document).on('show.bs.modal', '.modal', function () {
var zIndex = 1040 + (10 * $('.modal:visible').length);
console.log("zIndex"+zIndex);
$(this).css('z-index', zIndex);
setTimeout(function() {
$('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
}, 0);
});    



//Initialize Select2 Elements
$('.select2').select2()

//Datemask dd/mm/yyyy
$('#datemask').inputmask('dd/mm/yyyy', {
'placeholder': 'dd/mm/yyyy'
})
//Datemask2 mm/dd/yyyy
$('#datemask2').inputmask('mm/dd/yyyy', {
'placeholder': 'mm/dd/yyyy'
})
//Money Euro
$('[data-mask]').inputmask()

//Date range picker
$('#reservation').daterangepicker()
//Date range picker with time picker
$('#reservationtime').daterangepicker({
timePicker: true,
timePickerIncrement: 30,
format: 'MM/DD/YYYY h:mm A'
})
//Date range as a button


//Date picker
$('#datepicker').datepicker({
format: 'yyyy-mm-dd',
autoclose: true
})

//iCheck for checkbox and radio inputs
$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
checkboxClass: 'icheckbox_minimal-blue',
radioClass: 'iradio_minimal-blue'
})
//Red color scheme for iCheck
$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
checkboxClass: 'icheckbox_minimal-red',
radioClass: 'iradio_minimal-red'
})
//Flat red color scheme for iCheck
$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
checkboxClass: 'icheckbox_flat-green',
radioClass: 'iradio_flat-green'
})

//Colorpicker
$('.my-colorpicker1').colorpicker()
//color picker with addon
$('.my-colorpicker2').colorpicker()

//Timepicker
$('.timepicker').timepicker({
showInputs: false
})


var dat_opt = {
showDropdowns: true,
showWeekNumbers: false,
startDate: moment().startOf('month'),
endDate: moment().endOf('month'),
ranges: {
'Today': [moment(), moment()],
'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
'Last 7 Days': [moment().subtract(6, 'days'), moment()],
'Last 30 Days': [moment().subtract(29, 'days'), moment()],
'This Month': [moment().startOf('month'), moment().endOf('month')],
'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
},
opens: 'left',
buttonClasses: ['btn btn-default'],
applyClass: 'btn-small btn-primary',
cancelClass: 'btn-small',
format: 'DD-MM-YYYY',
separator: ' to ',
locale: {
applyLabel: 'Submit',
cancelLabel: 'Clear',
fromLabel: 'From',
toLabel: 'To',
customRangeLabel: 'Custom',
daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
firstDay: 0
}
};

var cb =  function (start, end) {
$('#daterange-btn span').html(start.format('DD-MM-YYYY') + ' / ' + end.format('DD-MM-YYYY'));



angular.element('#orderCtrlId').scope().getPastOrders(start.format('DD-MM-YYYY'),end.format('DD-MM-YYYY'));
angular.element('#orderCtrlId').scope().$apply(); 
};


$('#daterange-btn').daterangepicker(dat_opt, cb);
cb(dat_opt.startDate, dat_opt.endDate);











})





</script>
</body>

</html>