<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RaRa Delivery | Order Tracking</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.css">


    <style>
        .mobfunc{
            float: right;
            width: 50%;

        }
        .orderDetail{
            font-weight: bold;
            color: #065b56;
            font-size: 1.2em;
        }
        .orderData{
            font-size: 1.2em;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body ng-app="ropid" class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="background-color:#f7f7f7">

        <header  class="main-header">

           <div class="row" style="background-color:#065b56;">
               <div class="col-xs-4">
                    <img class="img-responsive" style="width: 40%;padding:5% 3%" src="dist/img/whitelogo.png" alt="logo">
               </div>
               <div class="col-xs-8">
                <a href="#" style="color: #ffffff;font-size: 20px; line-height: 47px;"><span class="logo-lg">Rara Delivery</span></a>
       
               </div>
           </div>

  </header>
 

                <!-- Content Wrapper. Contains page content -->
                <div>
                   
                   

                    <!-- Main content -->
                    <section class="content" style="background-color: #ffffff; " ng-controller="orderTrackingCtrl">
                        <!-- Info boxes -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="box-header ">
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                
                                                    <!-- Blue -->
                                                    <div class="progress" style="border-radius: 5px;">
                                                        <div class="progress-bar" style="width:100%; position:relative;background-color: #e0e4ec;">
                                                            <div class="cusStack" style="width:{{track.progressVal>=0?15:0}}%; z-index: 8; background-color: #09d8cb; background: linear-gradient(to right, #09d8cb,#09c3b8);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=1?30:0}}%; z-index: 7; background-color:#0accc1; background: linear-gradient(to right, #09d8cb,#0ab0a6);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=2?45:0}}%; z-index: 6; background-color: #0aa79e;background: linear-gradient(to right, #09d8cb,#0a9c94);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=3?59:0}}%; z-index: 5; background-color:#09aba2;background: linear-gradient(to right, #09d8cb,#0a8a83);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=4?74:0}}%; z-index:4; background-color: #0a8a83;background: linear-gradient(to right, #09d8cb,#097973);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=5?88:0}}%;z-index: 3; background-color: #097973;background: linear-gradient(to right, #09d8cb,#066a64);"></div>
                                                            <div class="cusStack" style="width:{{track.progressVal>=6?100:0}}%; z-index: 2; background-color:#065b56;background: linear-gradient(to right, #09d8cb,#065b56);"></div>

                                                        </div>
                                                    </div>
                                               
                                            </div>
                                            <div class="col-md-12">
                                                    <h3 style="text-align:center" ng-bind="track.showStatus" data-fittext data-fittext-min="10" data-fittext-max="30"></h3>
                                                    <h3 style="text-align:center" ng-bind="track.eta"></h3>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .cusStack {
                                position: absolute;
                                height: 100%;
                              
                            }
                        </style>

                        <!-- Main row -->
                        <div class="row">
                   
                            <div class="col-md-6" style="padding: 0px 5px;">
                                <div class="">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;padding-left: 0px;">

                                                <div>
                                                    <ng-map zoom="11" center="[1.358237, 103.878352]" zoom-to-include-markers="auto" disable-default-u-i="true" style="height:285px" >
                                                        <span ng-repeat="p in rabbitLocation track by p.orderId">   
                                                        <marker  icon="{
                                                            url :'images/pin.png',
                                                            scaledSize:[40,40],
                                                            origin: [0,0], 
                                                            anchor: [16,40]
                                                            }" position="{{p.position}}"></marker>
                                                            
                                                            <marker  icon="{
                                                                url :'images/drop.png',
                                                                scaledSize:[40,40],
                                                                origin: [0,0], 
                                                                anchor: [16,40]
                                                                }" position="{{p.dropPoints}}"></marker>
                                                            
                                                        </span>    
                                                    </ng-map>
                                                 
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div id="datatable" class="row">
                            <div class="col-lg-12">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                       <div class="row">
                                           <div class="col-xs-5">
                                                <!-- <h3 style="font-size: 19px;">Driver Name : <span ng-bind="track.driverName"></span></h3> -->
                                                <h5 class="orderDetail">Driver Name : </h5>
                                           </div>
                                           <div class="col-xs-3">
                                                <p class="orderData" style="margin:10px 0px;" ng-bind="track.driverName"></p>
                                           </div>
                                           <div class="col-xs-4 pull-right">
                                                <p style="margin:10px 0px;">
                                                    <a class="mobfunc" href="tel:{{track.rabbitId}}"><img class="img-responsive" style="width:50%" src="dist/img/phone.png"></a>
                                                    <a class="mobfunc" href="sms:{{track.rabbitId}}"><img class="img-responsive" style="width:50%" src="dist/img/msg.png"></a>
                                                </p>
                                            </div>
                                       </div>
                              
                            </div>
                        </div>
                </div>
            </section>
            <section class="content" style="background-color: #ffffff;" ng-controller="orderTrackingCtrl">
                    
                <div class="row">
                        <div class="col-lg-12">
                            <div class="">
                                <div class="box-body">
                                   <div class="row">
                                       <div class="col-xs-12">
                                            <h5 class="orderDetail">Your Order from :</h5>
                                       </div>
                                       <div class="col-xs-12" >
                                            <span class="orderData" ng-bind="track.companyName"></span>
                                       </div>
                                       <div class="col-xs-12"> 
                                            <h5 class="orderDetail">Order ID :</h5> 
                                       </div>
                                       <div class="col-xs-12">
                                        <span class="orderData" ng-bind="track.pmid"></span>
                                       </div>
                                       <div class="col-xs-12"> 
                                            <h5 class="orderDetail">Delivery Address : </h5> 
                                       </div>
                                       <div class="col-xs-12">
                                        <span class="orderData" ng-bind="track.deliveryAddress"></span>
                                       </div>
                                       <div class="col-xs-12">
                                            <h5 class="orderDetail">Delivery Preference :</h5> 
                                      </div>
                                      <div class="col-xs-12">
                                        <span class="orderData" ng-bind="track.deliveryType"></span>
                                      </div>
                                      <div class="col-xs-12">
                                            <center><button class="btn btn-warning">CUSTOMER CARE</button></center>
                                      </div>
                                   </div>
                                </div>
                            <!-- /.box-body -->
                            <!-- /.box-footer -->
                        </div>
                    </div>
            </div>

           

            

                </section>
                <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- All rights reserved. -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2017-2018 <a href="#">Rapid Rabbits Pte Ltd</a>.</strong> 
    </footer>
    <!-- loader div -->
    <div id="loader" style="visibility:hidden">
        <div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
            <img src="images/loader.gif" alt="" />
        </div>
        <!-- overlay div -->
        <div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
        </div>
    </div>
    <!-- loader div close -->

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="dist/js/adminlte.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/base64Service.js"></script>
    <script src="js/trackApp.js"></script>
    <script src="js/ng-FitText.min.js"></script>
   
    <script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
    <script src="js/script-tags-for-development.js"></script>
   
</body>

</html>