<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RaRa Delivery | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/square/blue.css">

    <link href="dist/css/jquery.sweet-modal.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body ng-app="ropid" class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="index2.html"><img src="dist/img/logo.png" alt="" /></a>
        </div>

        <div class="register-box-body" ng-controller="registerCtrl">

            <p class="login-box-msg">Register a new membership</p>
            <h4 style="color: green" ng-show="smsg" ng-bind="smsg"></h4>
            <h4 style="color: red" ng-show="errmsg" ng-bind="errmsg"></h4>
            <form ng-submit="register();">
                <div class="form-group has-feedback">
                    <input type="text" ng-model="name" class="form-control" placeholder="Full name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" ng-model="username" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" ng-model="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" ng-model="cpwd" class="form-control" placeholder="Retype password">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                        <div class="checkbox icheck agreeCheckbx">
                            <label>
                                <input type="checkbox" id="agree"/> I agree to the <a href="#">terms</a>
                            </label>

                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!--  
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>
-->
            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <!-- loader div -->
    <div id="loader" style="visibility:hidden">
        <div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
            <img src="images/loader.gif" alt="" />
        </div>
        <!-- overlay div -->
        <div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
        </div>
    </div>
    <!-- loader div close -->



    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="js/roundProgress.min.js"></script>


    <script src="js/ngStorage.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/base64Service.js"></script>
    <script src="js/controllers.js"></script>
    <script type="text/javascript" src="js/jquery.sweet-modal.min.js"></script>
    <script src="js/script-tags-for-development.js"></script>


    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

        });
        $(document).ready(function() {
            $(".agreeCheckbx .iCheck-helper").click(function() {
                console.log(isAgree);
                if (isAgree == false) {
                    isAgree = true;
                } else {
                    isAgree = false
                }
            });
        });
    </script>
</body>

</html>